.idea/
public/
database.rules.json
firebase.json
.firebaserc
node_modules/
/dist/
/static/
/storybook-static/
.DS_Store
*.log
temp.*
target
.project
.settings
.classpath
.DS_Store
_site
Thumbs.db
.rbenv-version
.rvmrc
client
.env
swagger/swagger.yaml
/data
.grunt
.idea
*.iml
atlassian*
.vscode/
npm-debug.log
yarn.lock

